/*@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');*/
@font-face {
    font-family: '8bit';
    src: url('PressStart2p.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-family: '8bit';
	background-color: black;
  background-repeat: no-repeat;
	user-select: none;
	overflow: hidden;
}
.loadingDiv{
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	text-align: center;
	display: flex;
	background-color: rgba(0,0,0, 1);
	z-index: 4;
}
.loading{
	color: white;
	position: relative;
	left:28%;
	top:40%;
	font-size: 1000%;
}
.loading::after{
	padding-left: 2;
	content: "";
	animation: loadingAnim infinite 2s;
}
@keyframes  loadingAnim {
	0% {content: ""}
	25% {content: "."}
	50%{content: ".."}
	75%{content: "..."}
}
@keyframes fadeOut {
	from{opacity: 100%;}
	to{opacity: 0%;}
	display: none;
}

.startingDiv{
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	border: 10px solid black;
	display: flex;
	background-color: rgba(69,69,69, 1);
	z-index: 3;
}
.tutorialDiv{
	height: 50%;
	position: absolute;
	text-align: center;
	width: 90%;
	margin:3%;
	top:0;
	border: 10px solid black;
	background-color: white;
	z-index: 4;
}
.tutorialDiv h{
	font-size: 2.2vmax;
}
.tutorialDiv p{
	position: relative;
	color: black;
	font-size: 1.5vmax;
	margin-top: 0;
}
#previousPageButton{
	border:5px solid black;
	position: absolute;
	margin-left: 1vw;
	top: 42vh;
	width: 10%;
	height: 10%;
	transition: 0.3s;
	cursor: pointer;
}
#previousPageButton:hover{
	transform: scale(1.08);
}

#nextPageButton{
	border:5px solid black;
	position: absolute;
	right: 1vw;
	top: 42vh;
	width: 10%;
	height: 10%;
	transition: 0.3s;
	cursor: pointer;
}
#nextPageButton:hover{
	transform: scale(1.08);
}
@keyframes startAnimation {
	from {bottom: 0%;}
	to {bottom: 100%;}
}
.startButton{
	position: relative;
	background-color: yellow;
	height: 10%;
	width: 15%;
	max-width: 15%;
	top: 80%;
	left: 43%;
	cursor: pointer;
	border: 5px solid black;
}
h1 {
	display: inline;
	font-size: 200%;
	color: white;
	margin-left: 2%;
	text-align: left;
	position: relative;

}

h2 {
	display: inline;
	font-size: 200%;
	color: white;
	margin-left: 30%;
	text-align: left;
	position: relative;

}
h3{
	font-size: 400%;
	color: white;
	margin-left: 30px;
	bottom: 5%;
	left: 40%;
	text-align: center;
	position: relative;

}
h4{
	font-size: 4vmax;
	color: white;
}
@keyframes fadeIn{
from {opacity: 0%;}
to {opacity: 100%;}
}

p {
	color: white;
	font-weight: normal;
	user-select: none;
	margin: 0%;
	margin-top: 1%;
	display: inline;
	pointer-events: none;
	font-size: 0.7vmax;
}
p3 {
	color: white;
	font-size: 4vmax;

}
p2 {
	font-size: 2vmax;
	color: white;
	left: 5%;
	top: 10%;
	user-select: none;
  position: relative;
	pointer-events: none;

}

p4 {
color: black;
position: relative;
text-align: center;
pointer-events: none;
}


p5 {
	position: relative;
	color: white;
	text-align: left;

}
#menykonteiner {
	background-color: black;
	top:0;
	text-align: center;
	height: 71px;
	border: 2px solid white;
	width: 99.8%;
	max-width: 99.8%;
	margin-bottom: 2%;
	z-index: 1;
}

#menykonteiner li {
	display: inline;
	margin-right: 4%;
	margin-left: 4%;

}

#menykonteiner a {
	color: white;
	font-size: 1.8vmax;
	text-decoration: none;
	cursor: pointer;

}

#menykonteiner a:hover {
	color:red;
	text-decoration: none;
}


#menykonteiner1 {
		background-color: rgba(0, 0, 0, 0.6);
		border: 5px dashed white;
		text-align: left;
		height: 80px;
    margin-bottom: 30px;

}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
}

#reviveDiv {
	position: absolute;
	border: 5px solid black;
	z-index: 2;
	width: 20vmax;
	max-width: 20%;
	height: 40%;
	left: 40%;
	display: block;
	top: 35%;
	background-color: grey;
	text-align: center;
}

#reviveButton{
	padding: 1%;
	position: relative;
	border: 5px solid black;
	background-color: rgba(255,255,255, 0.5);
	top:25vh;
	cursor: pointer;
	left: 4vw;
	width:10.5vmax;
	min-width: 8vmax;
	max-width: 10.5vmax;
	height: 9vmin;
	max-height: 9vmin;
}
.upgrades {
	position: fixed;
	text-align: left;
	border: 10px solid white;
	overflow: scroll;
	width: 1500px;
	max-width: 1500px;
	height: 70%;
	margin-left: -35%;
	margin-top: -20%;
	top:52%;
	left:45%;
	background-color: black;
	z-index: 10;
	display: none;
	animation: floatDown 2s;
}

.upgrades1{
	position: relative;
	min-width: 101%;
	text-align: left;
	width: 500px;
	max-width: 500px;
	height: 200px;
	right: 22%;
	top: 20%;
}
.upgradeItem {
	position: relative;
	padding:	3%;
	display:  inline-block;
  border: 3px solid white;
	position: relative;
	margin-left: 5%;
	margin-bottom: 3%;
	margin-top: 2%;
  height: 20px;
	width: 100px;
	max-width: 100px;
	left: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.upgradeItem:hover{
	transform: scale(1.1);
}
@keyframes floatDown{
	from {top: 0%;}
	to {top: 52%;}
}

.rebirthCanvas {
	position: fixed;
	text-align: left;
	border: 10px solid white;
	width: 1500px;
	max-width: 1500px;
	height: 70%;
	margin-left: -35%;
	margin-top: -20%;
	top:52%;
	left:45%;
	overflow: scroll;
	background-color: black;
	z-index: 10;
	display: none;
	animation: floatDown 2s;
}

.skillTreeCanvas {
	position: fixed;
	text-align: left;
	border: 10px solid white;
	width: 1500px;
	max-width: 1500px;
	height: 70%;
	margin-left: -35%;
	margin-top: -20%;
	top:52%;
	left:45%;
	overflow: scroll;
	background-color: black;
	z-index: 10;
	display: none;
	animation: floatDown 2s infinite;
}
#nextLevelButton{
	position: absolute;
	background: grey;
	border: 3px solid black;
	left: 60%;
	display: none;
	top: 10%;
	width: 3.5%;
	height: 7%;
	text-align: center;
	cursor: pointer;
}
.nextLevelButtonImage{
	position: relative;
	width: 50%;
	height: 99%;
	pointer-events: none;
}
#previousLevelButton{
	position: absolute;
	background: grey;
	border: 3px solid black;
	display: none;
	left: 35%;
	top: 10%;
	width: 3.5%;
	height: 7%;
	text-align: center;
	cursor: pointer;
}
#currentLevelText{
	color: white;
}
#shopDiv{
	position: absolute;
	width: 20.7%;
	max-width: 20.7%;
	height: 78.2%;
	left: -17.5%;
	bottom:0%;
	display: inherit;
}
#shop {
  background-color: rgba(0, 0, 0, 1);
  border: 5px solid white;
	overflow-y: scroll;
	width: 80%;
	max-width: 80%;
	height: 100%;
	bottom: 0%;
  padding: 1%;
	position: absolute;
	display: inherit;
}

#shopTypeSelector{
	padding: 0;
	background-color: blue;
	bottom:0;
	position: relative;
	border: 3px solid white;
	position: relative;
	margin-left: 5%;
	margin-top: 10%;
	height: 10%;
	width: 93%;
	max-width: 93%;
	display: inline-flex;
}

#shopTypeMana{
	padding:3%;
	background-color: rgba(50,100,200, 1);
	position: relative;
	height: 79%;
	bottom: 0;
	width: 50%;
	max-width: 50%;
	cursor: pointer;
}

.shopTypeMana{
		border-right: 5px solid black;
}
#shopTypeAttack{
	padding:3%;
	position: relative;
	height: 79%;
	bottom: 0;
	width: 50%;
	max-width: 50%;
	cursor: pointer;
	background-color: rgba(255,80,80, 1);
}


.shopTypeAttack{
		border-left: 5px solid black;
}
#shopMana{
	display: block;
}
#shopManaIdle{
	display: none;
}
#shopManaClick{
	display: block;
}
#shopManaOther{
	display: none;
}
#shopAttack{
	display: none;
}
#shopAttackIdle{
	display: none;
}
#shopAttackClick{
	display: inherit;
}
#shopAttackOther{
	display: none;
}
.shopCategorySelector{
	padding: 0;
	bottom: 0.36%;
	position: relative;
	border: 3px solid white;
	position: relative;
	margin-left: 12%;
	height: 8%;
	width: 80%;
	max-width: 80%;
	display: inline-flex;
	cursor: pointer;
}
#shopClick{
	padding: 0;
	background-color: rgba(17,29,74, 1);
	position: relative;
	height: 100%;
	text-align: center;
	width: 100%;
	max-width: 100%;
	z-index: 3;
}
#shopIdle{
	padding: 0;
	background-color: rgba(50,100,200, 1);
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	max-width: 100%;
	z-index: 3;
}
#shopOther{
	padding: 0;
	text-align: center;
	background-color: rgba(50,100,200, 1);
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 100%;
	z-index: 3;
}
 #shopOpener{
	position: relative;
	width: 20%;
	max-width: 20%;
	height: 50%;
	left:83%;
	bottom: 0%;
	cursor: pointer;
	visibility: visible;
}

#shopOpenerImage{
	position: relative;
	width: 70px;
	max-width: 70px;
	height: 290px;
	left: 5px;
	cursor: pointer;

}
@keyframes shopOpenerFlipIn{
	from{transform: scaleX(1);}
	to{transform: scaleX(-1);}
}
@keyframes shopOpenerFlipOut{
	from{transform: scaleX(-1);}
	to{transform: scaleX(1);}
}

	@keyframes shopAnimationOpen {
		from{left: -17.5%;}
		to{left: 0;}
	}

	@keyframes shopAnimationClose {
		from{left:0;}
		to{left:-17.5%;}
	}

.shopItem {
	padding:3%;
  border: 3px solid white;
	background-color: none;
	position: relative;
	display: block;
	margin-left: 5%;
  height: 100px;
  width: 15vw;
	max-width: 87%;
	margin-top: 10%;
	cursor: pointer;
	overflow-y: scroll;
}
.shopItem:hover{
	animation: shopItemHoverAnimation 4s infinite;
}
@keyframes shopItemHoverAnimation {
	0%{background-color: black;}
	25%{background-color: white;}
	50%{background-color: black;}
}
.manaShopText{
	font-size: 120%;
	color: rgba(225, 170, 0);
}
.orb {
	position: absolute;
	top: 48%;
	left: 71%;
	width: 190px;
	height: auto;
  max-height: 79.1%;
  max-width: 50%;
	transition-duration: 0.4s;
	cursor:pointer;
	user-select: none;
}

.orb:hover {
	transform: scale(1.1);
}

#playerStats{
	position: absolute;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.9);
	border: 5px solid white;
	left: 65.2%;
	bottom: 0;
	text-align: justify;
	width: 15%;
	max-width: 15%;
	height: 25%;

}

.playerIcon{
	border: 5px solid white;
	position: absolute;
	left: 48%;
	top: 17%;
	width: 50%;
	max-width: 50%;
	height: auto;
}

#spellDiv{
	position: absolute;
	width: 20.7%;
	max-width: 20.7%;
	height: 80%;
	right: -16.9%;
	bottom:0;
	display: inherit;
}
#spellOpener{
 position: relative;
 width: 20%;
 max-width: 20%;
 height: 50%;
 right: 1.5%;
 bottom: 0%;
 cursor: pointer;
 visibility: visible;
}
#spellOpenerImage{
	position: relative;
	width: 80px;
	max-width: 80px;
	right: 0%;
	height: 100%;
	transform: scaleX(-1);
}
#spells {
  background-color: rgba(0, 0, 0, 0.9);
  border: 5px solid white;
	left: 17.5%;
	bottom: 0%;
	width: 82.2%;
	max-width: 82.2%;
	height: 100%;
  margin-left: 1%;
	position: absolute;
	overflow-y: scroll;
}
.spellItem {
	padding:3%;
  border: 3px solid white;
	background-color: none;
	position: relative;
	display: block;
	margin-left: 5%;
  height: 100px;
  width: 15vw;
	max-width: 87%;
	margin-top: 10%;
	cursor: pointer;
}
.spellItem p{
	position: absolute;
}
.spellItemWrapper{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	user-select: none;
}
@keyframes spellCooldownBar{
	from{height: 0%;}
	to{height: 100%;}
}
@keyframes spellOpenerFlipIn{
	from{transform: scaleX(-1);}
	to{transform: scaleX(1);}
}
@keyframes spellOpenerFlipOut{
	from{transform: scaleX(1);}
	to{transform: scaleX(-1);}
}

	@keyframes spellAnimationOpen {
		from{right: -16.9%;}
		to{right: 13px;}
	}

	@keyframes spellAnimationClose {
		from{right:13px;}
		to{right:-16.9%;}
	}
.manaDiv{
	position: absolute;
	text-align: center;
	width: 17.05%;
	min-width: 15%;
	max-width: 17.05%;
	height: 108px;
	top:7.8%;
	right: 0;
	background-color: rgba(255,255,255, 0.5);
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
	z-index: 2;
}
#manaDivBar{
	position: absolute;
	top:0;
	left:0;
	width: 0%;
	height: 100%;
	background-color: rgba(50,100,200, 1);
}
.manaDiv p4{
	position: relative;
	margin-top:50%;
	font-size: 2vmax;
}
.goldDiv{
	position: absolute;
	text-align: center;
	width: 17%;
	min-width: 15%;
	max-width: 17%;
	height: 120px;
	top:7.8%;
	left: 0;
	background-color: rgba(225, 170, 0);
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
	z-index: 2;
}
.goldDiv p4{
	position: relative;
	margin-top:50%;
	font-size: 2vmax;
}
.console {
	background-color: rgba(0,0,0, 0.8);
	width: 30.4%;
	max-width: 30.4%;
	height: 30%;
	left: 34.8%;
	border-bottom: 5px solid white;
	display: inline;
	z-index: -1;
	text-align: center;
	position: absolute;
	bottom:0;
  overflow-y: scroll;
}

.enemyHPBarDiv{
	position: absolute;
	text-align: justify;
	top:auto;
	left: 39%;
	height: 5%;
	width: 20%;
	max-width: 20%;
	border: 5px solid black;
	background-color: rgba(0,0,0, 0.4);
}

.enemyHP2{
	position: relative;
	font-size: 200%;
	top:12%;
	left:30%;
	color: white;
	z-index: 1;
}
.enemyHPBar{
	position: absolute;
	top:0%;
	height: 100%;
	width: 100%;
	max-width: 100%;
	background-color: rgba(255,80,80, 1);
}
.enemyCanvas {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	border: 5px solid white;
	left:34.7%;
	top: 19%;
	width: 30%;
	max-width: 30%;
	min-width: 30%;
	height: 50%;
	min-height: 50%;
	max-height: 50%;
	z-index: 0;

}

.enemyPortrait {
	position: relative;
	top: 0%;
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 100%;
	cursor: url("Bilder/cursor-thick.png"), auto;
}


.enemyStats{
	position: absolute;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.9);
	border: 5px solid white;
	right: 65.2%;
	bottom: 0;
	text-align: justify;
	width: 15%;
	max-width: 15%;
	height: 25%;
}



::-webkit-scrollbar {
  width: 40px;
	max-width: 40px;
}


::-webkit-scrollbar-track {
  background: black;
	border: 1px 1px solid white;
}


::-webkit-scrollbar-thumb {
  background: white;
	border: 15px solid black;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes floatDown{
	from {top: -35%;}
	to {top: 52%;}
}
