body{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
}


.house{
  position: absolute;
  left: 100px;
  top: 50px;
  width: 200px;
  height: 800px;
  background-color: red;
}
#window{
  position: relative;
  background-color: black;
  left: 50%;
  top: 20%;
  width: 50%;
  height: 10%;
}
.baby{
  position: absolute;
  background-image: url("baby1.png");
  width: 100px;
  height: 100px;
  background-size: cover;
}
